<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="MZ12H">
  <link
    name="base">
    <inertial>
      <origin
        xyz="-0.0469790502266166 1.61834773303264E-06 0.123035789960527"
        rpy="0 0 0" />
      <mass
        value="16.7192241189448" />
      <inertia
        ixx="0.140582859202792"
        ixy="2.83037472192047E-05"
        ixz="-0.00984495187263393"
        iyy="0.224200184464544"
        iyz="0.000101149097526633"
        izz="0.237777320074336" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.341176470588235 0.345098039215686 0.333333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/base.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.0613626410453378 0.0188721912880544 0.152870228860557"
        rpy="0 0 0" />
      <mass
        value="20.9171454922225" />
      <inertia
        ixx="0.110126457177156"
        ixy="-0.00473763821670739"
        ixz="-0.0529538451426142"
        iyy="0.226254969136583"
        iyz="-0.00495067855889052"
        izz="0.172122244580922" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.576470588235294 0.572549019607843 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1"
    type="revolute">
    <origin
      xyz="0 -0.231 0"
      rpy="1.5708 0 0" />
    <parent
      link="base" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.9671"
      upper="2.9671"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link1_logo_left">
    <inertial>
      <origin
        xyz="0.150312949862141 0.248875315941585 0.239098281728793"
        rpy="0 0 0" />
      <mass
        value="0.000262575877525965" />
      <inertia
        ixx="7.44374975303084E-09"
        ixy="8.64546589651729E-10"
        ixz="2.50701481743884E-09"
        iyy="2.07301578748132E-08"
        iyz="-8.61202719764026E-11"
        izz="1.38381186463388E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link1_logo_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.870588235294118 0.0392156862745098 0.0470588235294118 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link1_logo_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1_logo_left"
    type="fixed">
    <origin
      xyz="0 0.01 0"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link1_logo_left" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.0623980667137999 -0.011688929265728 0.27605855530228"
        rpy="0 0 0" />
      <mass
        value="7.26567587988546" />
      <inertia
        ixx="0.41814900966204"
        ixy="5.03439350210715E-05"
        ixz="0.00251520037520166"
        iyy="0.41205974400945"
        iyz="-0.0038164335288836"
        izz="0.0142047787334226" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.701960784313725 0.541176470588235 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j2"
    type="continuous">
    <origin
      xyz="0.15 0.0815 0.23902"
      rpy="1.5708 0 1.5708" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="1 -1 0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.0522416745257065 -0.0609408298411281 0.0713682792928128"
        rpy="0 0 0" />
      <mass
        value="13.4942571777588" />
      <inertia
        ixx="0.110456078294007"
        ixy="-0.00622672914507432"
        ixz="-0.0404285539242859"
        iyy="0.14648876385358"
        iyz="-0.00949047001002069"
        izz="0.12701209134827" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j3"
    type="revolute">
    <origin
      xyz="0 0 0.61"
      rpy="0 0.0082054 -1.5708" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.4486"
      upper="2.0944"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.208608574244208 -0.000337646269100124 0.000168146084245424"
        rpy="0 0 0" />
      <mass
        value="7.6088166218264" />
      <inertia
        ixx="0.0280714946804675"
        ixy="0.0003024946118364"
        ixz="0.000400915123428242"
        iyy="0.128234488551133"
        iyz="-9.96974020912568E-06"
        izz="0.141574725503228" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j4"
    type="revolute">
    <origin
      xyz="0.2333 -0.0815 0.14192"
      rpy="0 -0.0082054 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.3161"
      upper="3.3161"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4_right_logo">
    <inertial>
      <origin
        xyz="-0.235925689641256 -0.000345037044700997 0.000168193510180714"
        rpy="0 0 0" />
      <mass
        value="7.6094427354956" />
      <inertia
        ixx="0.028071535930797"
        ixy="0.000302493156933252"
        ixz="0.000400905176762529"
        iyy="0.128234598409566"
        iyz="-9.97185999519496E-06"
        izz="0.141574794699783" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link4_right_logo.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.0431372549019608 0.0549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link4_right_logo.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j4_logo_right"
    type="fixed">
    <origin
      xyz="0.44454 0 0"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="link4_right_logo" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link4_left_logo">
    <inertial>
      <origin
        xyz="-0.179861973343286 0.0802237280835541 0.00083733224611271"
        rpy="0 0 0" />
      <mass
        value="0.000628941851328343" />
      <inertia
        ixx="4.14048609012412E-08"
        ixy="7.82737004498243E-10"
        ixz="9.94327862061095E-09"
        iyy="1.10193761829483E-07"
        iyz="2.03998266642208E-09"
        izz="6.9439930381172E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link4_left_logo.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link4_left_logo.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j4_left_logo"
    type="fixed">
    <origin
      xyz="0.44454 0.01 0"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="link4_left_logo" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.0301921093433676 -0.0164152532377129 3.04838315093869E-05"
        rpy="0 0 0" />
      <mass
        value="0.560948385919128" />
      <inertia
        ixx="0.00069962448211746"
        ixy="-7.81167527798409E-05"
        ixz="-1.31276421239161E-06"
        iyy="0.000654825285157465"
        iyz="-9.59334572487422E-07"
        izz="0.000745996081771913" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j5"
    type="revolute">
    <origin
      xyz="0.44454 0.01 0"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="0.0109080577638027 -8.01024314118457E-05 8.00879297312429E-05"
        rpy="0 0 0" />
      <mass
        value="0.0439410372876388" />
      <inertia
        ixx="3.16845620199133E-05"
        ixy="2.05386349782908E-08"
        ixz="-2.05307218072492E-08"
        iyy="1.67817077268533E-05"
        iyz="-1.78021707955712E-07"
        izz="1.69014193828846E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.341176470588235 0.345098039215686 0.333333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MZ12H/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j6"
    type="revolute">
    <origin
      xyz="0.082 -0.01 0"
      rpy="0 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="6.2832"
      effort="0"
      velocity="0" />
  </joint>
</robot>